<div>
    <h2>Realtime Products</h2>
    <a href="/">Volver</a>
    <hr>
    <table id="productsTable">
        <thead>
            <tr>
                <th>Product</th>
                <th>Code</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody id="productsTableBody">
            {{#each products}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.code}}</td>
                <td>{{this.price}}</td>
                <td>{{this.stock}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>